* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 20% auto;
  width: 25%;
  border: solid 2px blue;
  background: orange;
  padding: 3%;
}

header h1 {
  text-align: center;
}

main {
  border: solid 2px black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main ul {
  padding: 5px;
  list-style: none;
}

main ul li{
  border: dotted 1px black;
  padding: 1px;
  margin: 1px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main ul li.kupiony span{
  text-decoration: line-through;
}

main ul li.kupiony button {
  text-decoration: none;
}

footer form input {
  width: 65%;
}

footer form button {
  padding: 2% 5%;
}

.delete-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2%;
}

.delete-section .delete-sectin__button {
    padding: 2%;
}

.delete-section .delete-sectin__button-all {
    background: red;
    color: bisque;
}

.delete-section .delete-sectin__button-checked {
    background: green;
    color: bisque;
}
