
.lista {
  margin: 0 auto;
  width: 30%;
  border: 2px solid black;

}

.formularz {
  padding: 3px;

}

h1 {
    text-align: center;
}


 ul {
   border: 2px solid black;
   list-style: none;
}

.przekreslenie {
  text-decoration: line-through;
}
